*{margin: 0; padding: 0;}

html{scroll-behavior: smooth;}

@font-face{font-family: franklinMarca; src: url('../fuentes/Franklin\ Gothic\ Demi\ Cond.ttf');}
@font-face{font-family: calibriMarca; src: url('../fuentes/calibri.ttf');}

body{display: flex; flex-direction: column; align-items: center;}
.scaleCero{scale: 0;}
.opacityCero{opacity: 0; transition: ease .5s;}
.opacityUno{opacity: 1; transition: ease .5s;}
.pointer{cursor: pointer;}
.blur{
    backdrop-filter: blur(.2vh); width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.178);
    position: fixed; top: 0; z-index: 3;
}
.zDex{z-index: 4;}
.none{display: none;}

header{
    margin-top: 2.5vh; display: flex; position: fixed;
    justify-content: center; align-items: center; height: 10vh; gap: 47%;
}
.itemOneHeader{display: flex; gap: 2vh; width: 30%;}
.headerFirst{
    width: 70%;
    display: flex; gap: 2vh; align-items: center; justify-content: center;
    background-color: white; padding: 1vh;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
}
.headerFirst img{width: 30%;}
.headerFirst h3{
    font-family: 'franklinMarca'; text-align: center;
    background-color: black; color: white;
    padding: 1vh; border-radius: 1vh;
    cursor: pointer;
}
.home{
    background-color: white; padding: 1vh; width: 8%;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
    display: flex; justify-content: center; align-items: center;
}
.home img{width: 100%; margin-top: .5vh;}
.headerSecond{
    width: 15%;  cursor: pointer;
    display: flex; gap: 2vh; align-items: center; justify-content: center;
    background-color: white; padding: 1.5vh;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
}
.headerSecond img{width: 12%; transition: ease .5s;}
.headerSecond h3{
    font-family: 'franklinMarca'; text-align: center;
}
.headerSecond:hover img{scale: 120%; rotate: -10deg; transition: ease .5s;}
.navegacion{
    background-color: white; padding: 1vh; position: fixed; top: 15vh;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    width: 40%; height: 70vh; gap: 3vh;
}
.navegacion h1{font-family: 'franklinMarca'; text-align: center; margin-bottom: 3vh;}
.itemNav{width: 80%; display: flex; align-items: center; justify-content: start; gap: 2vh;}
.itemNav img{width: 6vh;}
.itemNav p{font-family: calibriMarca; color: rgb(80, 80, 80);}
.textoNav{font-family: calibriMarca; color: rgb(139, 137, 137); text-align: center; width: 70%; margin-top: 3vh;}
.cerrarNav{position: absolute; width: 4vh; top: 4vh; right: 4vh; cursor: pointer;}

.sectionComic{
    width: 100%; height: 110vh;
    background: url(./imagenes/FondoComic-Comic.svg); background-position: bottom;
    background-size: cover; background-repeat: no-repeat;
    display: flex; flex-direction: column; align-items: center; justify-content: start;
}
.sectionComic h3{font-family: 'franklinMarca'; text-align: center; margin-top: 10vh;}
.sectionComic p{font-family: calibriMarca; margin-bottom: 4vh; color: gray;}
.simuladorSpace{
    width: 100vh; height: 60vh; background-color: black;
    display: flex; justify-content: center; align-items: center;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
}
.simuladorSpace p{color: rgb(138, 138, 138);}

.sectionFooter{
    pointer-events: none;
    width: 100%; height: 40vh; display: flex; justify-content: center; align-items: end;
    background-color: rgb(149, 133, 115);
}
.logoFooter{width: 60vh;}
.itemsFooter{
    pointer-events: all;
    width: 100%; margin-bottom: 3vh; padding: 0 5vh 0 5vh;
    display: flex; justify-content: space-evenly; align-items: end;
}
.itemFooter p{font-family: calibriMarca; color: rgb(199, 178, 153);}
.infoFooter{font-family: calibriMarca; color: rgb(199, 178, 153); width: 30%; margin-bottom: 20vh;}
.itemFooterTwo{
    display: flex; flex-direction: column;
    margin-bottom: 5vh; width: 20%; gap: 2vh;
    justify-content: center; align-items: center;
}
.itemFooterTwo img{width: 20vh;}
.clickRevista{width: 8%; position: absolute; top: 70%; left: 12vh; animation: infinite alternate 2s ease-in-out linkLevita;}
@keyframes linkLevita {
    100%{transform: translateY(-2vh);}
}

@media screen and (max-width:1024px){
    .clickRevista{left: 2%;}
    .headerSecond{width: 20%;}
    .itemOneHeader{width: 40%;}
    header{gap: 30%;}
}

@media screen and (max-width:720px){
    .navegacion{width: 90%;}
    .headerSecond h3{font-size: 1.5vh; display: none;}
    .itemOneHeader h3{font-size: 1.5vh;}
    .headerSecond img{width: 100%;}
    .headerSecond{width: 10%; height: 7vh;}
    .itemOneHeader{width: 50%; height: 7vh;}
    .sectionComic{height: 80vh; gap: 0%;}
    .simuladorSpace{width: 60vh; height: 40vh;}
    .clickRevista{top: 65%; left: 45%;}
    .itemsFooter{flex-direction: column; justify-content: center; align-items: start; gap: 2vh;}
    .infoFooter{margin-bottom: 0; width: 80%;}
    .itemFooterTwo{margin-bottom: 0;}
    .sectionFooter{height: 50vh;}
    .itemFooterTwo img{width: 15vh;}
    .logoFooter{width: 30vh;}
}

@media screen and (max-width:350px){
    .simuladorSpace{width: 50vh; height: 30vh;}
    .navegacion{height: 90vh; top: 5%;}
    .logoFooter{width: 20vh;}
    .sectionFooter{height: 65vh;}
    .itemFooterTwo img{width: 20vh; margin-left: 7vh;}
}