*{margin: 0; padding: 0;}

html{scroll-behavior: smooth;}

@font-face{font-family: franklinMarca; src: url('../fuentes/Franklin\ Gothic\ Demi\ Cond.ttf');}
@font-face{font-family: calibriMarca; src: url('../fuentes/calibri.ttf');}

body{display: flex; flex-direction: column; align-items: center;}
.scaleCero{scale: 0;}
.opacityCero{opacity: 0; transition: ease .5s;}
.opacityUno{opacity: 1; transition: ease .5s;}
.pointer{cursor: pointer;}
.blur{
    backdrop-filter: blur(.2vh); width: 100%; height: 100vh;
    background-color: rgba(0, 0, 0, 0.178);
    position: fixed; top: 0; z-index: 3;
}
.zDex{z-index: 4;}
.none{display: none;}
.flexD{display: flex;}

header{
    margin-top: 2.5vh; display: flex; position: fixed;
    justify-content: center; align-items: center; height: 10vh; gap: 47%;
    z-index: 1;
}
.itemOneHeader{display: flex; gap: 2vh; width: 30%;}
.headerFirst{
    width: 70%;
    display: flex; gap: 2vh; align-items: center; justify-content: center;
    background-color: white; padding: 1vh;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
}
.headerFirst img{width: 30%;}
.headerFirst h3{
    font-family: 'franklinMarca'; text-align: center;
    background-color: black; color: white;
    padding: 1vh; border-radius: 1vh;
    cursor: pointer;
}
.home{
    background-color: white; padding: 1vh; width: 8%;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
    display: flex; justify-content: center; align-items: center;
}
.home img{width: 100%; margin-top: .5vh;}
.headerSecond{
    width: 15%;  cursor: pointer;
    display: flex; gap: 2vh; align-items: center; justify-content: center;
    background-color: white; padding: 1.5vh;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
}
.headerSecond img{width: 12%; transition: ease .5s;}
.headerSecond h3{
    font-family: 'franklinMarca'; text-align: center;
}
.headerSecond:hover img{scale: 120%; rotate: -10deg; transition: ease .5s;}
.navegacion{
    background-color: white; padding: 1vh; position: fixed; top: 15vh;
    border: solid .3vh; border-radius: 1vh; box-shadow: 0 0 1vh rgba(0, 0, 0, 0.13);
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    width: 40%; height: 70vh; gap: 3vh;
}
.navegacion h1{font-family: 'franklinMarca'; text-align: center; margin-bottom: 3vh;}
.itemNav{width: 80%; display: flex; align-items: center; justify-content: start; gap: 2vh;}
.itemNav img{width: 6vh;}
.itemNav p{font-family: calibriMarca; color: rgb(80, 80, 80);}
.textoNav{font-family: calibriMarca; color: rgb(139, 137, 137); text-align: center; width: 70%; margin-top: 3vh;}
.cerrarNav{position: absolute; width: 4vh; top: 4vh; right: 4vh; cursor: pointer;}

.sectionComic{
    width: 100%; height: 110vh;
    background: url(./imagenes/FondoComic-Comic.svg); background-position: bottom;
    background-size: cover; background-repeat: no-repeat;
    display: flex; flex-direction: column; align-items: center; justify-content: start;
}
.sectionComic h3{font-family: 'franklinMarca'; text-align: center; margin-top: 10vh;}
.sectionComic p{font-family: calibriMarca; margin-bottom: 4vh; color: gray;}

.sectionFooter{
    pointer-events: none;
    width: 100%; height: 40vh; display: flex; justify-content: center; align-items: end;
    background-color: rgb(149, 133, 115);
}
.logoFooter{width: 60vh;}
.itemsFooter{
    pointer-events: all;
    width: 100%; margin-bottom: 3vh; padding: 0 5vh 0 5vh;
    display: flex; justify-content: space-evenly; align-items: end;
}
.itemFooter p{font-family: calibriMarca; color: rgb(199, 178, 153);}
.infoFooter{font-family: calibriMarca; color: rgb(199, 178, 153); width: 30%; margin-bottom: 20vh;}
.itemFooterTwo{
    display: flex; flex-direction: column;
    margin-bottom: 5vh; width: 20%; gap: 2vh;
    justify-content: center; align-items: center;
}
.itemFooterTwo img{width: 20vh;}
.clickRevista{width: 8%; position: absolute; top: 70%; left: 12vh; animation: infinite alternate 2s ease-in-out linkLevita; z-index: 0;}
@keyframes linkLevita {
    100%{transform: translateY(-2vh);}
}
footer{width: 100%;}
.viñetas{width: 100%; display: flex; justify-content: center;}
.volverViñeta{
    position: absolute; width: 2%;
    top: 79%; left: 19%; cursor: pointer;
    transition: ease .5s;
}
.volverViñeta:hover{transition: ease .5s; scale: 105%; opacity: .6;}
.pasarViñeta{
    position: absolute; width: 2%;
    top: 79%; right: 19%; cursor: pointer;
    transition: ease .5s;
}
.pasarViñeta:hover{transition: ease .5s; scale: 105%; opacity: .6;}

/* CODIGO DE VIÑETAS */
.anchoViñetas{width: 55%;}
/* Viñeta Numero 1 */
.secViñetaOne{
    margin: 0; padding: 0;
    display: flex;
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 1vh; overflow: hidden;
    box-shadow: 0 0 2vh rgb(117, 117, 117);
}
.mouse{cursor: pointer;}
.introRocas{
    position: absolute; display: flex; object-fit: cover;
    justify-content: center; align-items: center;
    width: 100%; height: 100%;
    color: rgba(0, 0, 0, 0.493);
}
.textEmpezar{
    position: absolute;
    color: gray; font-family: calibriMarca;
    animation: titilTexto infinite ease .5s alternate;
    opacity: 1;
}
@keyframes titilTexto {
    100%{opacity: .5;}
}
.streak{
    animation: forwards .1s ease streak;
}
@keyframes streak {
    20%{transform: translateX( 2px);}
    40%{transform: translateY(2px);}
    60%{transform: translateX( -3px);}
    80%{transform: translateY(-3px);}
}
.streak2{
    animation: forwards .1s ease streak2;
}
@keyframes streak2 {
    20%{transform: translateX( 4px);}
    40%{transform: translateY(3px);}
    60%{transform: translateX( -5px);}
    80%{transform: translateY(-5px);}
}
.streak3{
    animation: forwards .1s ease streak3;
}
@keyframes streak3 {
    20%{transform: translateX( 5px);}
    40%{transform: translateY(5px);}
    60%{transform: translateX( -8px);}
    80%{transform: translateY(-7px);}
}
.streak4{
    animation: forwards .1s ease streak4;
}
@keyframes streak4 {
    20%{transform: translateX( 6px);}
    40%{transform: translateY(5px);}
    60%{transform: translateX( -9px);}
    80%{transform: translateY(-10px);}
}
.streak5{
    animation: forwards .1s ease streak5;
}
@keyframes streak5 {
    20%{transform: translateX( 8px);}
    40%{transform: translateY(8px);}
    60%{transform: translateX( -10px);}
    80%{transform: translateY(-10px);}
}
.none{
    display: none;
}
.desaparecer{
    opacity: 1;
    animation: desa 1s ease forwards;
}
@keyframes desa {
    99%{opacity: 0; display: block;}
    100%{opacity: 0; display: none;}
}
.lluvia{
    width: 100%; height: 100%;
    pointer-events: none;
    position: absolute; opacity: .5;
    background-image: url(./recursosV1/lluviaV1.png); background-position: bottom; background-repeat: no-repeat; background-size: cover;
    animation: infinite lluviaCae 10s linear;
}
@keyframes lluviaCae {
    100%{background-position: top;}
}
.oscurecer{
    width: 100%; height: 100%;
    position: absolute; opacity: 0;
    background-color: black;
    animation: infinite osc 30s ease;
    pointer-events: none;
    
}
@keyframes osc {
    25%{opacity: 0;}
    30%{opacity: .5;}
    35%{opacity: 0;}
    75%{opacity: 0;}
    80%{opacity: .5;}
    85%{opacity: 0;}
}
.Pint{
    position: absolute; bottom: 18%; right: 30%;
    width: 4%;
    cursor: pointer;
}
.Cscann{
    width: 100%; height: 100%;
    position: absolute;
}
.gradAparece{animation: 1s forwards gradAp; opacity: 0;}
@keyframes gradAp {
    100%{opacity: 1;}
}
.gradDesaparece{animation: 1s forwards gradDes; opacity: 1;}
@keyframes gradDes {
    99%{display: block; opacity: 0;}
    100%{display: none; opacity: 0;}
}
.emerg{
    position: absolute;
    width: 45%; top: 0; left: 27.1%;
    animation: forwards ease 5s emergente;
}
@keyframes emergente {
    0%{opacity: 0;}
    5%{opacity: 1;}
    95%{opacity: 1;}
    100%{opacity: 0;}
}
.containerVentana{
    width: 100%; height: 100%;
    position: absolute; object-fit: cover;

}
.ventCerr{width: 100%;}
.tbl1, .tbl2, .tbl3, .tbl4{position: absolute; transform-box: content-box; cursor: pointer;}
.tbl1{width: 90%; top: 40%; left: 5%;}
.tbl2{width: 27%; top: 5%; left: 38%;}
.tbl3{width: 90%; top: 20%; left: 5%;}
.tbl4{width: 90%; top: 7%; left: 5%;}
.actVentanaCerr{
    position: absolute; top: 52%; left: 35%; rotate: 15deg;
    width: 12%;
    height: 7%;
    cursor: pointer;
}
.aniTabla{animation: forwards 2s animTabla ease;}
@keyframes animTabla {
    5%{rotate: 5deg;}
    10%{rotate: -10deg; transform: translateY(0);}
    15%{transform: translateY(-5%);}
    95%{transform: translateY(500%); display: block;}
    100%{transform: translateY(1000%); display: none;}
}
.PintTwo{
    position: absolute;
    width: 10%; top: 40%; left: 45%;
    cursor: pointer;
}
.zoomVent{animation: forwards 10s zoomVent ease-out;}
@keyframes zoomVent {
    0%{scale: 100%;}
    100%{scale: 400%;}
}
.animPints{animation: infinite puntoAn ease 4s alternate;}
@keyframes puntoAn {
    0%{opacity: .3;
    scale: 100%;}
    100%{opacity: 1;
    scale: 110%;}
}
.Cventana{
    width: 100%; height: 100%;
    position: absolute;
}
.pasarViñetaTransition{
    width: 55%; margin: 0; padding: 0;
    height: 64%;
    border-radius: 1vh; overflow: hidden;
    box-shadow: 0 0 2vh rgb(117, 117, 117);
    background-color: black;
    position: absolute;
}
.pasarViñetaTransitionAct{animation: pasarViñeta forwards 4s linear;}
@keyframes pasarViñeta {
    0%{opacity: 0;} 50%{opacity: 1;} 99%{opacity: 0; display: block;} 100%{opacity: 0; display: none;}
}

/* Viñeta Numero 2 */
.secViñetaTwo{
    margin: 0; padding: 0;
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 1vh; overflow: hidden;
    box-shadow: 0 0 2vh rgb(117, 117, 117);
}
.viñetaSombra{
    pointer-events: none;
    width: 100%;
}
.viñetaSombra, .baldosa{position: absolute;}
.baldosa{
    width: 19%;
    right: 15%; top: 15.5%;
}
.baldosaCae{animation: forwards 1s ease-in caeB;}
@keyframes caeB {
    40%{transform: translateY(-10%);}
    100%{transform: translateY(450%) rotate(-70deg);}
}
.abrirDema{
    cursor: pointer;
    position: absolute;
    top: 19%; left: 79%;
    width: 3%; height: 15%; rotate: 25deg;
}
.demandaCont{
    position: absolute;
    width: 100%;
}
.demanda{width: 100%;}
.cerrarDema{
    cursor: pointer;
    position: absolute;
    top: 8%; left: 65%;
    width: 3%; height: 6%;
}
.blurV2{filter: blur(.5vh); transition: ease .5s;}
.blurDes{filter: blur(0vh); transition: ease .5s;}
.demandaApar{animation: forwards .5s ease demAp;}
@keyframes demAp {
    0%{scale: 0;}
    100%{scale: 100%;}
}
.demandaDesa{animation: forwards .5s ease demDe;}
@keyframes demDe {
    0%{scale: 100%;}
    100%{scale: 0;}
}
.BocaOne{
    width: 30%;
    position: absolute;
    top: 40%; left: 20%;
}
.BocaTwo{
    width: 30%;
    position: absolute;
    top: 40%; left: 20%;
}
.animPints{animation: infinite puntoAn ease 2s alternate;}
@keyframes puntoAn {
    0%{opacity: .3;
    scale: 100%;}
    100%{opacity: 1;
    scale: 110%;}
}
.puntoDint{
    cursor: pointer;
    position: absolute;
    top: 46%; left: 32%;
    width: 7%;
}
.puntoDes{
    animation: pDes forwards .5s ease;
}
@keyframes pDes {
    100%{opacity: 0; scale: 0;}
}
.puntoApa{
    animation: pApa forwards .5s ease; opacity: 0; scale: 0;
}
@keyframes pApa {
    100%{opacity: 1; scale: 100%;}
}
.conversacion{
    position: absolute;
    width: 100%;
    bottom: 0; left: 0;
    display: flex; justify-content: center; align-items: center;
}
.t1, .t2, .t3, .t4{width: 100%;}


/* Viñeta Numero 3 */
.secViñetaThree{
    margin: 0; padding: 0;
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 1vh; overflow: hidden;
    box-shadow: 0 0 2vh rgb(117, 117, 117);
}
.pint3{width: 6%; position: absolute; z-index: 1; top: 30%; right: 15%;}
.pint4{width: 6%; position: absolute; z-index: 1; top: 70%; right: 45%;}
.bocaKyle1{position: absolute; width: 3.4%; top: 52.15%; left: 60.5%;}
.texto1V3{position: absolute; width: 45%; top: 10%; right: 25%;}
.texto2V3{position: absolute; width: 14%; top: 25%; right: 31%;}
.pantallaKyle{width: 100%;}
.entrada, .borrador, .aceptarInv{position: absolute; cursor: pointer;}
.entrada, .borrador{width: 14.5%; left: 3.1%;}
.entrada{top: 12.7%;}
.borrador{top: 18.8%;}
.aceptarInv{width: 15%; top: 75%; right: 10%;}
.ventanaEmergV3{position: absolute; width: 50%; top: 0; left: 25%; z-index: 1;}
.apareceEmerg{animation: apareceEmerg forwards ease 6s;}
@keyframes apareceEmerg {
    0%{opacity: 0;}
    20%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 0;}
}
.habitacionVacia{position: absolute; width: 100%; top: 0; left: 0;}


/* Viñeta Numero4 */
.secViñetaFour{
    margin: 0; padding: 0;
    position: relative;
    background-color: rgb(0, 0, 0);
    border-radius: 1vh; overflow: hidden;
    box-shadow: 0 0 2vh rgb(117, 117, 117);
}
#sala1Jimbo, #sala2Jimbo{scale: 102%;}
.pint5{position: absolute; width: 6%; top: 40%; left: 65%;}
.telefonoEmergV4{position: absolute; bottom: 4%; width: 50%; left: 27%;}

@media (max-width:1024px){
    .clickRevista{left: 2%;}
    .headerSecond{width: 20%;}
    .itemOneHeader{width: 40%;}
    header{gap: 30%;}
}

@media (max-width:769px){
    header{gap: 1%;}
    .clickRevista{width: 12vh; left: 28vh; top: 68vh;}
    .headerFirst h3{font-size: 13px;}
    .sectionComic h3{margin-top: 13vh;}
    .navegacion{width: 80%; height: 80vh; top: 8vh;}
    .headerSecond h3{font-size: 1.5vh; display: none;}
    .headerSecond img{width: 100%;}
    .navegacion h1{font-size: 30px;}
    .navegacion p{font-size: 15px;}
    .headerSecond{width: 5%;}
    .itemOneHeader{width: 80%; height: 7vh;}
    .sectionComic{height: 100vh;}
    .itemsFooter{flex-direction: column; justify-content: center; align-items: start; gap: 2vh;}
    .infoFooter{margin-bottom: 0; width: 80%;}
    .itemFooterTwo{margin-bottom: 0;}
    .sectionFooter{height: 62vh;}
    .itemFooterTwo img{width: 15vh;}
    .logoFooter{width: 30vh;}
    .anchoViñetas{width: 80%;}
}

@media (max-width:470px){
    .volverViñeta, .pasarViñeta{width: 8%; top: 55%;}
    .anchoViñetas{width: 90%;}
    .sectionFooter{height: max-content; display: flex;}
    .sectionComic{height: 85vh;}
    .itemNav img{width: 10%;}
    .navegacion h1{font-size: 25px;}
    .navegacion p{font-size: 12px;}
    .clickRevista{width: 10vh; left: 24vh; top: 58vh;}
    .sectionComic h3{margin-top: 13vh;}
    header{gap: 1%;}
    .itemOneHeader{width: 80%;}
    .cerrarNav{width: 4%;}
    .navegacion{height: max-content; padding-top: 15%; padding-bottom: 3vh; top: 5%;}
    .logoFooter{width: 20%;}
    .itemFooterTwo img{width: 170%;}
    .itemFooterTwo img{width: 170%;}
    .itemFooter{font-size: 12px;}
    .infoFooter{font-size: 10px;}
}
@media (max-width:325px){
    .clickRevista{width: 8vh; top: 50%;}
    .sectionComic{height: 70vh;}
    .volverViñeta, .pasarViñeta{width: 8%; top: 50%;}
}